

// --------------------------------------- color variables ------------------------------------
$white: #FFFFFF;
$black: #0C1E1A;
$pistachio: #EFFAF7;
$sage: #E4EFEC;
$sea-green: #B7CEC9;
$forest-green: #1E6655;
