@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;

.header {
  padding: 2.5rem 1rem 1.5rem;
  background-color: $pistachio;

  @include tablet {
  }

  @include desktop {
    padding: 2rem;
  }

  &__title {
    font-family: "Outfit";
    font-size: 0.875rem;
    font-weight: 300;

    margin-bottom: 1.5rem;

    @include tablet {
      font-size: 1.125rem;
    }

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &__text {
    font-family: "Newsreader";
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 2.375rem;
    font-style: normal;

    @include tablet {
      font-size: 2.5rem;
      line-height: 3.625rem;
    }

    @include desktop {
      line-height: 4.125rem;
      font-size: 3rem;
      max-width: 730px;
    }

    &--italic {
      font-style: italic;
    }
  }
}
