@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.photo {
  background-color: $sage;
  border: 1px solid $sea-green;
  border-radius: 8px;

  width: 100%;
  max-width: 390px;

  @include tablet {
    width: calc(( 100% - 1rem )/2);
    max-width: 370px;

  }

  @include desktop {

    max-width: none;
    width: calc( (100% - 2.5rem ) /3);
    // width:  370px;

    &--openPanel {
    width: calc( (100% - 1.25rem ) /2);
  }

  }

  


  ul {
    height: fit-content;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @include tablet {

    }
  }

  &__content {
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
      border-bottom-left-radius: 0;
    }
  }

  &__photographer {
    display: inline-block;

    // border-bottom: 0.1px solid $sea-green;

    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $sage;
    color: $black;
    padding: .5rem;
    border-top-left-radius: 8px;

    font-family: outfit;
    font-weight: 500;
    font-size: .75rem;
    line-height: .9375rem;

    @include tablet {
        font-size: .875rem;
        line-height: 1.0938rem;
        font-weight: 500;
    }

    
  }

  &__tags {
    padding: .5rem;

    @include tablet {
        padding: 1rem;
    }

  }

  &__tag {
    font-family: outfit;
    font-weight: 500;
    font-size: .75rem;
    line-height: .9375rem;

    background-color: $white;
    border: 1px solid $sea-green;
    padding: .375rem .5rem;
    border-radius: 6px;

    @include tablet {
        padding: .5rem .75rem;
        border-radius: .75rem;

        font-size: .875rem;
        line-height: 1.0938rem;
        font-weight: 500;
    }
  }
}
