@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $pistachio;
}

.gap {
  width: 100%;
  height: 5rem;

  @include tablet {
    height: 5.5rem;
  }

  @include desktop {
    height: 6.5rem;
  }
}

// list containing all the photo cards
.photo-list {
  padding: 1.5rem 1rem;
  background-color: $pistachio;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include desktop {
    gap: 1.25rem;
    padding: 2rem;
  }

  order: -1;
}


.content {
  width: 100%;
}

.content--open-panel {
  @include desktop {
    display: inline-block;
    width: 66%;
    order: -1;
  }
}

.outer-wrap {
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
