@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $pistachio;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  margin: 2rem;
}

textarea {
  resize: none;
}