@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;

.nav {
    position: fixed;
    width: 100%;
    top: 0;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: $pistachio;
  z-index: 999;

  @include tablet {
  }
  @include desktop {
    padding: 2rem 2rem;
  }

  &__title {
    font-size: 2rem;
    color: $black;
    font-family: "Newsreader";
    font-weight: 400;
    font-style: normal;
    align-self: center;

    @include tablet {
        font-size: 2.5rem;
    }
  @include desktop {
    font-size: 2.8125rem;
  }
  }

  &__button {
    height: fit-content;
    align-self: center;
    background-color: $pistachio;
    padding: .25rem 1rem;
    color: $forest-green;
    border: 2px solid $forest-green;
    border-radius: 9999px;

    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-family: "Outfit";
    font-weight: 500;

    &--active {
      color: $white;
      background-color: $forest-green;
    }

    @include tablet {
        font-size: 1rem;
    }

    @include desktop {
        font-size: 1.25rem;
    }
  
  }
}
